################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/GoalSystem/v16
/.vs
/GoalSystem.Inventory.Backend/.vs/GoalSystem.Inventario.Backend/v16
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.Core/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.Core/obj/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.Core/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.Core.Tests/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.Core.Tests/obj/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.Core.Tests/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.ViewModels/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Application.ViewModels/obj
/GoalSystem.Inventory.Backend/Goalsystem.Inventario.Backend.DistributedServices.API/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/Goalsystem.Inventario.Backend.DistributedServices.API/obj
/GoalSystem.Inventory.Backend/Goalsystem.Inventario.Backend.DistributedServices.SignalR/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/Goalsystem.Inventario.Backend.DistributedServices.SignalR/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Domain.Core/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Domain.Core/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Domain.Core.Tests/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Domain.Core.Tests/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Infrastructure.Persistence.Database/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Infrastructure.Persistence.Database/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Infrastructure.Persistence.Models/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Infrastructure.Persistence.Models/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.IntegrationTest/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.IntegrationTest/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Transversal.Hostedservices/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Transversal.Hostedservices/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Transversal.MappingProfile/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Transversal.MappingProfile/obj
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Transversal.Models/bin/Debug/netcoreapp3.1
/GoalSystem.Inventory.Backend/GoalSystem.Inventario.Backend.Transversal.Models/obj
